.Cartitem{
    width:100%;
    padding:1rem;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap:8px;
    background: #fff;
    border-radius: 2px;
    place-items: center;
    margin-bottom: 8px;
}

.Cartitem__name{
    text-decoration:none;
    color:#171717;
}

.Cartitem__name:hover{
    color:#dd219e;
}

.Cartitem__select{
    padding:10px 17px;
}

.Cartitem__deletebtn{
    padding:10px 19px;
    color:red;
    background: #f4f4f4;
    border:1px solid #171717;
    cursor:pointer;
    transition:all 0.3s ease-out;
}

.Cartitem__deletebtn:hover,.Cartitem__deletebtn:active,
.Cartitem__deletebtn:focus{
    background: #171717;
    transform:scale(1.2);
}

@media (max-width:700px){
    .Cartitem__name{
        font-size:0.8rem;
    }

    .Cartitem__select,.Cartitem__deletebtn{
        padding:8px 13px;
    }

    .Cartitem_price{
        font-size:0.8rem;
    }
}