.SideDrawer{
    width: 70%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top:0;
    left: 0;
    z-index: 200;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SideDrawer.show{
    transform: translateX(0);
}

.SideDrawer__link{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.SideDrawer__link > li{
    display: flex;
    align-items: center;
}

.SideDrawer__link > li > a:hover{
    background: #333;
    color: #f4f4f4;
}

.SideDrawer__link > li > a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    padding:1rem;
    text-decoration: none;
    color: #171717;
    font-size: 1.3rem;
}

.SideDrawer__link > li > a > span{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.SideDrawer__cartbadge{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #171717;
    border-radius: 50%;
    margin-left: 8px;
    color:#fff;
    font-size: 1rem;
}

.SideDrawer__link > li > a:hover .SideDrawer__cartbadge{
    background-color: #fff;
    color:#171717;
}

@media(min-width:960px) {
    .SideDrawer{
        display: none;
    }
}
